<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            background-color: #6bb4e8;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            min-height: 100vh;
        }

        .box {
            padding: 1rem;

            background-color: #FFFFFFEE;
            box-shadow: 0 0 16px #444;
        }

        form > div > div {
            margin-bottom: 1rem;
        }

        input, button {
            padding: 0.5rem 0.6rem;
            display: inline-block;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 3px #ddd;
            border-radius: 4px;
        }

        button {
            display: block;
            width: 100%;
            font-weight: 600;
        }

        label {
            display: block;
            font-weight: 600;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="box">
        {% block body %}
        {% endblock %}
    </div>
</div>
</body>

</html>
